* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
  header {
    background-color: bisque;
    width: 100%;
    position: fixed;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
  }
  nav ul li a {
    text-decoration: none;
    color: black;
  }
  .form{
      margin-top: 80px;
  }
  .btn{
      margin-top: 100px;
  }